doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="http://dbushell.github.io/Pikaday/css/pikaday.css")
  body
    div#wrap
        div.header-image
            a(href="/")
                img(src='/images/header.png')
        div.navbar
            div.mydiv
                ul.nav
                    if username
                        li
                            a(href='/') Home
                        li
                            a(href='/write') Write
                        li
                            a(href='/search') Search
                        li
                            a(href='/logout') Logout
                    else
                        li
                            a(href='/signin') Sign in
        div.info
            if username
                p='Welcome '+username
            else
                p Welcome stranger
        div.mydiv
            block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
    script(src="/javascripts/pikaday.js")
    script(src='/javascripts/main.js')