doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="http://dbushell.github.io/Pikaday/css/pikaday.css")
  body
    div#wrap
        
        div
            div.mydiv
                input(type="text", id="datepicker", name="initDate")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
    script(src="/javascripts/pikaday.js")
    script(src='/javascripts/main.js')