html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
    vertical-align: middle;
}

a {
    color: #00B7FF;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -40px;
}

div.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
}

div.logo {
    background-color: #FF0000;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

div.header-image {
    background-color: #0066CC;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

div.mydiv, div.info {
    width: 1480px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.pages li a{
    text-decoration: none;
    color: coral;
}

.pages li, .nav li {
    float: left;
    list-style: none;
    margin: 5px;
}

.pages li a.current {
    color: black;
}

.nav li a {
  text-decoration: none;
  color: coral;
  border: 2px solid coral;
  padding: 5px;
  border-radius: 12px;
}